<div class="header">
    <div class="logo-min">Scrumizer</div>
    <a class="logout" ng-click="logout()">Logout</a>
</div>


<div class="container">
    <div class="btn-container">
        <button type="button" class="btn btn-default create-project-btn" ng-click="newProjectBtn()">
            <span class="glyphicon glyphicon-plus"></span> New project
        </button>
    </div>
            
    <table class=".table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Git repository</th>
                <th class="action">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects">
                <td> <a>{{project.name}}</a> </td>
                <td>
                    <span>{{project.description}}</span>
                </td>
                <td>{{project.git}}</td>
                <td class="action">
                    <button type="button" class="btn btn-default edit-btn" ng-click="showProjectForm(project)">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default delete-btn" ng-click="deleteProject(project)">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>

                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="projectCreationForm.show" id="create-project-form" ng-click="closeForm($event)">
        <form name="createProjectForm" novalidate>
            <div class="content">
                <div class="row" ng-class="{'has-error': !createProjectForm.name.$pristine && createProjectForm.name.$invalid, 
                                            'has-success': !createProjectForm.name.$pristine && createProjectForm.name.$valid}" >
                    <label>Project name</label> <br />
                    <input name="name" class="name" type="text" placeholder="Enter project name" ng-model="project.name" 
                                ng-pattern="projectCreationForm.nameFormat" required>
                </div>
                
                <div class="row" ng-class="{'has-error': !createProjectForm.git.$pristine && createProjectForm.git.$invalid, 
                    'has-success': !createProjectForm.git.$pristine && createProject.git.$valid}">
                    <label>Git repository</label> <br />
                    <input name="git" class="git" type="text" placeholder="Enter Git repository" ng-model="project.git" required>
                </div>
                
                <div class="row">
                    <label>Description</label> <br />
                    <textarea name="description" class="description" type="text" placeholder="Enter project description" 
                            ng-model="project.description" required></textarea>
                </div>
                
                <div class="row">
                    <button class="btn btn-primary submit-btn" ng-click="create()" 
                            ng-disabled="createProjectFrom.name.$invalid || createProjectForm.git.$invalid">Create</button>
                    <button class="btn btn-primary cancel-btn" ng-click="clickCancelBtn()">Cancel</button>
                </div>
            </div>
        </form>
    </div> 


    <div ng-if="showUpdateForm" id="create-project-form" ng-click="closeForm($event)">
            <form name="updateProjectForm" novalidate>
                <div class="content">
                    <div class="row" ng-class="{'has-error': !updateProjectForm.name.$pristine && updateProjectForm.name.$invalid, 
                                                'has-success': !updateProjectForm.name.$pristine && updateProjectForm.name.$valid}" >
                        <label>Project name {{projectUpdate.name}}</label> <br />
                        <input name="name" class="name" type="text" placeholder="Enter project name" ng-model="projectUpdate.name" 
                                    ng-pattern="projectCreationForm.nameFormat" required>
                    </div>
                    
                    <div class="row" ng-class="{'has-error': !updateProjectForm.git.$pristine && updateProjectForm.git.$invalid, 
                        'has-success': !updateProjectForm.git.$pristine && updateProjectForm.git.$valid}">
                        <label>Git repository{{projectUpdate.git}}</label> <br />
                        <input name="git" class="git" type="text" placeholder="Enter Git repository" ng-model="projectUpdate.git" required>
                    </div>
                    
                    <div class="row">
                        <label>Description {{projectUpdate.description}}</label> <br />
                        <textarea name="description" class="description" type="text" placeholder="Enter project description" 
                                ng-model="projectUpdate.description" required></textarea>
                    </div>
                    
                    <div class="row">
                        <button class="btn btn-primary submit-btn" ng-click="update()" 
                                ng-disabled="updateProjectForm.name.$invalid || updateProjectForm.git.$invalid">Save</button>
                        <button class="btn btn-primary cancel-btn" ng-click="clickCancelBtn()">Cancel</button>
                    </div>
                </div>
            </form>
        </div> 
    
</div>