<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Creer user story</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <form >

        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div>
            <label for="priority">Priorite </label>
            <input type="text" id="priority" name="priority">
        </div>
        <div>
            <label for="name">Cout</label>
            <input type="text" id="cost" name="cost">
        </div>


        <div class="button">
            <button type="submit">Creer user story</button>
        </div>
    </form>
</body>

</html>