<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>

    <form >
        <div>
            <label for="name">Nom Projet:</label>
            <input type="text" id="name" name="name">
        </div>

        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="user_message"></textarea>
        </div>

        <div class="button">
            <button type="submit">Creer Projet</button>
        </div>
    </form>


</body>

</html>