<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Liste des projets</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

</head>

<body>
    <form>

        <table>
            <tr>
                <th>Nom Projet</th>
                <th>Description</th>
                <th>Selectionner</th>

            </tr>
            <tr>
                <th>Scrumizer</th>
                <th>Outils de gestion de projet</th>
                <th><input type="radio" /></th>

            </tr>

        </table>
        <input type="button" value="Supprimer Projet" />
    </form>
</body>

</html>