<!DOCTYPE html>
<html>
<div>
    <header>
        <meta charset="utf-8" />
        <title>backlog</title>
        <div class="row col-sm-12" data-ng-controller="usCtrl">
            <nav class="col-sm-4">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#/backlog">
                            <span class="glyphicon glyphicon-home"></span> Equipe </a>
                    </li>
                    <li>
                        <a href="#/depotgit">
                            <span class="glyphicon glyphicon-book"></span> Depot Git </a>
                    </li>
                    <li>
                        <a href="#/backlog">
                            <span class="glyphicon glyphicon-book"></span> Backlog </a>
                    </li>
                    <li>
                        <a href="#/sprint">
                            <span class="glyphicon glyphicon-book"></span> Sprint </a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>

    <body>

        <div data-ng-controller="usCtrl">

            <div>
                <div class="container">
                    <p class="h1"> Backlog </p>
                    <a ng-click="clickCreateUsBtn()" class="btn btn-primary a-btn-slide-text create-project-btn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span>
                            <strong>New US</strong>
                        </span>
                    </a>
                    <a ng-click="clickCreateSprintBtn()" class="btn btn-primary a-btn-slide-text create-project-btn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span>
                            <strong>Create Sprint</strong>
                        </span>
                    </a>

                    <div ng-if="buttonCreateSprintClicked" class="modal">
                        <span class="close" title="Close Modal" ng-click="clickCancelSprintBtn()">×</span>
                        <form class="modal-content animate" novalidate>
                            <table style="width: 90%;" class=" box table ">
                                <thead>
                                    <tr>
                                        <th style="width: 30%;" scope="col">Numero US</th>
                                        <th style="width: 30%;" scope="col">Description</th>
                                        <th style="width: 10%;" scope="col">priorite</th>
                                        <th style="width: 10%;" scope="col">Cout</th>
                                        <th style="width: 10%;" scope="col">Status</th>
                                        <th style="width: 10%;" scope="col">Choix</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="(index , us) in us ">
                                        <td>#{{index+1}}

                                        </td>
                                        <td>
                                            {{us.description}}
                                        </td>
                                        <td>
                                            {{us.priority}}
                                        </td>
                                        <td>
                                            {{us.cost}}

                                        </td>

                                        <td>
                                            {{us.states}}
                                        </td>
                                        <td>
                                            <input type="checkbox"  ng-model="us.checked"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="center">
                                <button class="btn btn-primary" ng-click="createSprint()">Create Sprint</button>
                                <button class="btn btn-primary" ng-click="clickCancelSprintBtn()">Cancel</button>
                            </div>
                        </form>
                    </div>

                    <div ng-if="sprintcreated" class="modal"> 
                        Sprint created
                        <button class="btn btn-primary" ng-click="clickCloseSprintModal()">Close</button>
                    </div>

                    <table style="width: 90%;" class=" box table ">
                        <thead>
                            <tr>
                                <th style="width: 30%;" scope="col">Numero US</th>
                                <th style="width: 30%;" scope="col">Description</th>
                                <th style="width: 10%;" scope="col">priorite</th>
                                <th style="width: 10%;" scope="col">Cout</th>
                                <th style="width: 10%;" scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="(index , us) in us ">
                                <td>#{{index+1}}
                                    <form ng-submit="updateUs(us)">
                                        <input ng-model="us.updatedProjectId" type="hidden" name="" ng-value="us.project_id" />
                                    </form>
                                </td>
                                <td>
                                    <a ng-if='!us.isEditing'>{{us.description}}</a>
                                    <form ng-submit="updateUs(us)">
                                        <textarea ng-value="us.description" ng-if="us.isEditing" ng-model="us.updatedDesc" class="form-control project-update-input"></textarea>
                                    </form>
                                </td>
                                <td>
                                    <a ng-if='!us.isEditing'>{{us.priority}}</a>
                                    <form ng-submit="updateUs(us)">
                                        <input ng-value="us.priority" ng-if="us.isEditing" ng-model="us.updatedPriority" class="form-control project-update-input"
                                        />
                                    </form>
                                </td>
                                <td>
                                    <a ng-if='!us.isEditing'>{{us.cost}}</a>
                                    <form ng-submit="updateUs(us)">
                                        <input ng-value="us.cost" ng-if="us.isEditing" ng-model="us.updatedPoints" class="form-control project-update-input" />
                                    </form>
                                </td>
                                <td>
                                    <a ng-if='!us.isEditing'>{{us.states}}</a>
                                    <form ng-submit="updateUs(us)">
                                        <input ng-value="us.states" ng-if="us.isEditing" ng-model="us.updatedStatus" class="form-control project-update-input" />
                                    </form>
                                </td>
                                <td>
                                    <a ng-if="!us.isEditing" ng-click="onEditClick(us)" class="btn btn-primary a-btn-slide-text edit-project-btn">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        <span>
                                            <strong>Edit</strong>
                                        </span>
                                    </a>
                                    <a ng-if="!us.isEditing" ng-click="deleteUs(us)" class="btn btn-primary a-btn-slide-text delete-project-btn">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        <span>
                                            <strong>Delete</strong>
                                        </span>
                                    </a>

                                    <a ng-if="us.isEditing" href="#" class="btn btn-primary a-btn-slide-text save-update-project-btn" ng-click="upadteUs(us)">
                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                        <span>
                                            <strong>Save</strong>
                                        </span>
                                    </a>
                                    <a ng-if="us.isEditing" ng-click="onCancelClick(us)" class="btn btn-default a-btn-slide-text cancel-update-project-btn">
                                        <span class="glyphicon glyphicon-cancel" aria-hidden="true"></span>
                                        <span>
                                            <strong>Cancel</strong>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div ng-if="createUsBtnActivated" id="create-project-form" class="modal">
                <span class="close" title="Close Modal" ng-click="clickCancelBtn()">×</span>
                <form class="modal-content animate" novalidate>
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea class="form-control" required="required" ng-model="us.description" type="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tb-name">Priorite</label>
                        <input type="tb-name" data-ng-disabled="!us.description" ng-model="us.priority" class="form-control" type="number" step="8"
                            value="0" min="0" max="64" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="tb-age">Cout</label>
                        <input type="tb-age" data-ng-disabled="!us.description" ng-model="us.cost" class="form-control" type="number" required="required"
                        />
                    </div>

                    <div class="center">
                        <button class="btn btn-primary" ng-click="create()">Submit</button>
                        <button class="btn btn-primary" ng-click="clickCancelBtn()">Cancel</button>
                    </div>
                </form>
            </div>


        </div>
    </body>
</div>
</html