<!DOCTYPE html>
<html>
<div>
    <header>
        <meta charset="utf-8" />
        <title>backlog</title>

        <div class="row col-sm-12" data-ng-controller="usCtrl">
            <nav class="col-sm-4">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#/backlog">
                            <span class="glyphicon glyphicon-home"></span> Equipe </a>
                    </li>
                    <li>
                        <a href="#/depotgit">
                            <span class="glyphicon glyphicon-book"></span> Depot Git </a>
                    </li>
                    <li>
                        <a href="#/backlog">
                            <span class="glyphicon glyphicon-book"></span> Backlog </a>
                    </li>
                    <li>
                        <a href="#/sprint">
                            <span class="glyphicon glyphicon-book"></span> Sprint </a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>

    <body>

        <div data-ng-controller="usCtrl">

            <div>
                <div class="container">
                    <p class="h1"> Backlog </p>
                    <a ng-click="clickCreateUsBtn()" class="btn btn-primary a-btn-slide-text create-project-btn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span>
                            <strong>New US</strong>
                        </span>
                    </a>

                </div>


            </div>
            <div ng-if="buttonCreateClicked" id="create-project-form" class="modal">
                <span class="close" title="Close Modal" ng-click="clickCancelBtn()">×</span>

            </div>
        </div>
    </body>
</div>
</html