html, body, .container {
    height: 100vh;
    min-height: 500px;
}

/**---------------------------------------------------------
 *  Home page
 **--------------------------------------------------------*/

#logo {
  font-family: 'Open Sans', sans-serif;
  color: #39393a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 1px 1px 0;
  position: relative;
}
#logo:after {
  content:"scrumizer";
  position: absolute;
  left: 4px;
  top: 4px;
}
#logo:after {
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}
.centered {
  position: fixed;
  display: table;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.block-btn {
  display: table-row;
  vertical-align: bottom;
  border: 1px solid red;
}

.btn-lg {
  margin: 10px;
  width: 300px;
  height: 80px;
  display: inline-block;
  line-height: 50px;
  font-size: 36px;
  background-color: #214887! important;
}

/**---------------------------------------------------------
 *  Sign up Form &  Login Form
 **--------------------------------------------------------*/
#sign-up-form, #login-form, #create-project-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 60%;
  min-width: 550px;
  min-height: 600px;
  background-color: white;
}

#login-form form {
  height: 30%;
  min-height: 400px;
}

.content {
  position: relative; 
  width: 100%;
  min-width: 550px;
  height: 100%;
  padding: 5%;
}

.row {
  height: 80px;
  min-height: 60px;
}

.row, .form-help {
  width: 100%;
  margin: 20px auto;
}

.form-help {
  color: red;
  font-size: 18px;
}

.row > button {
  background-color: rgb(61, 85, 124);
  min-width: 70px;
  width: 47%;
  height: 50px;
  border-radius: 5px;
}
.row > .glyphicon-remove {
  color: red;
}

.row > .glyphicon-ok {
  color: green;
}

.row > label {
  font-style: italic;
}

input {
  width: 100%;
  height: 60%;
  padding: 10px;
}

.has-error {
  color: red;
}

.has-error input {
  border: 1px solid red;
}

.has-success {
  color: green;
}

.has-success input {
  border: 1px solid green;
}

/**---------------------------------------------------------
 *  Project page
 **--------------------------------------------------------*/

table{
  width: 100%;
  clear: both;
}

td {
}
tr, th, td {
  min-height: 40px;
  height: 50px;
  text-align: left;
  padding-left: 10px;
}

.action {
  text-align: center;
}


.header {
  box-shadow: 2px 3px 3px #888888;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.logo-min {
  float: left;
  position: relative;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #39393a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 24;
  letter-spacing: .3px;
  line-height: 1;
  text-shadow: #EDEDED 1px 1px 0;
  padding: 6px;
  border: 1px solid black;
  border-radius: 3px 6px;
  box-shadow: 2px 3px 3px #888888;
}

.logo-min::after {
  content:"scrumizer";
  position: absolute;
  left: 5px;
  top: 4px;
}
.logo-min::after {
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

.logout {
  float: right;
  text-decoration: none;
}

.logout:hover {
  text-decoration: none;
}

.btn-container {
  width: 100%;
  background-color: black;
}

.create-project-btn {
  margin: 10px 0;
  float: right;
  background-color: rgb(152, 219, 142);
  border: 0;
}
.create-project-btn::after {
  clear: both;
}

.create-project-btn:hover {
  background-color: rgb(116, 244, 66);
}

.edit-btn {
  background-color: rgb(28, 109, 239);
  color: white;
  border: 0;
}

.edit-btn:hover {
  background-color: rgb(28, 109, 240);
  color: white;
}

.delete-btn {
  background-color: rgb(249, 37, 48);
  color: white;
  border: 0;
}

.delete-btn:hover {
  background-color: rgb(250, 37, 48);
  color: white;
}

textarea {
  height: 100px;
  width: 100%;
}

#create-project-form button {
  position: relative;
  margin-top: 60px;
  width: 49.6%;
  min-width: 200px;
}








