<div id="sign-up-form" class="modal">
    <span class="close" title="Close Modal" ng-click="clickCancelBtn()">×</span>
    <form class="modal-content animate" novalidate>
        <div class="container form-content">
            <input type="text" placeholder="Enter name" ng-model="n" required>
            <input type="text" placeholder="Enter Email" ng-model="e" required>
            <input type="password" placeholder="Enter Password" ng-model="p" required>
            <input type="password" placeholder="Repeat Password" ng-model="pR" required>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <p>{{n}} {{e}} {{p}} {{pR}}</p>
            <button class="btn btn-primary submit-btn" ng-click="submitSignUpData()">Submit</button>
            <button class="btn btn-primary cancel-btn" ng-click="clickCancelBtn()">Cancel</button>
      </div>
    </form>
  </div> 
